.game__attributes {
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;
}

.answer__wrapper {
  width: 70%;
  overflow: hidden;
}

.answer__wrapper div {
  display: inline-block;
  margin: 1px;
}

.answer__wrapper div img {
 width: 65px;
}

.stats__btns {
  display: none;
  position: absolute;
  right: 30px;
}

.stats__btns.active {
  display: block;
}

.stats__btns button{
  font-size: 25px;
  font-weight: 300;
  color: #3b0269;
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.479);
  transition: all 0.2s ease;
  padding: 5px 10px;
  margin: 0px 10px;
}

.stats__btns button:hover {
  background-color: #b68fc4;
  color: #ffffff;
  cursor: pointer;
}

.control__btns {
  position: relative;
  min-height: 60px;
  margin: 20px 0px;
}

.control__btns button {
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
}

.control__btns button.hide {
  visibility: hidden;
}

.control__btns button {
  margin: 0px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.479);
  transition: all 0.2s ease;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.control__btns button img {
  width: 50px;
  margin-right: 5px;
}

.control__btns button span {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: normal;
  color: #3b0269;
}

.control__btns button:hover {
  background-color: #b68fc4;
  cursor: pointer;
}

.control__btns button:hover span {
  color: #ffffff;
}

.control__btns button:active, .stats__btns button:active {
  transform: translateY(1px);
  box-shadow: 3px 3px 5px 1px rgba(20, 67, 4, 0.479);
}

@media screen and (max-width: 1052px) {
  .answer__wrapper div img {
    width: 50px;
  }
}

@media screen and (max-width: 720px) {
  .answer__wrapper div img {
    width: 37px;
  }

  .stats__btns {
    right: 5px;
  }

  .stats__btns button {
    font-size: 20px;
  }

  .control__btns {
    margin: 15px 0px;
    min-height: 42px;
  }

  .control__btns button {
    padding: 5px;
  }

  .control__btns button span {
    font-size: 25px;
  }

  .control__btns button img {
    width: 32px;
  }
}

@media screen and (max-width: 500px) {
  .answer__wrapper div {
    margin: 0px;
  }

  .answer__wrapper div img {
    width: 27px;
  }
}

@media screen and (max-width: 400px) {
  .answer__wrapper div img {
    width: 22px;
  }

  .stats__btns button {
    font-size: 13px;
    margin: 0px 5px;
  }

  .control__btns {
    margin: 10px 0px;
    min-height: 31px;
  }

  .control__btns button {
    padding: 5px;
  }

  .control__btns button span {
    font-size: 17px;
  }

  .control__btns button img {
    width: 20px;
  }
}
